<header class="top-bar">
  <div class="container">
    <div class="contact-info">
      <img src="../../../assets/icons/phone.svg" class="icon" />
      <a href="">*7007</a>
      <span class="separator">/</span>
      <a href="">+995 (32) 2 60 30 60</a>
    </div>

    <nav class="top-nav">
      <ul>
        <li><a routerLink="/info/trading-policy">სავაჭრო პოლიტიკა</a></li>
        <li><a routerLink="/info/installment">განვადება</a></li>
        <li><a routerLink="/info/trade-in">Trade In</a></li>
        <li><a routerLink="/info/career">კარიერა</a></li>
        <li><a routerLink="/info/branches">ფილიალები</a></li>
      </ul>

      <div class="lang-picker">
        <img src="../../../assets/icons/flag-geo.png" />
      </div>
    </nav>
  </div>
</header>